<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Workout</title>
  <script type="text/javascript" src="/libs/jquery-1.7.1.min.js"></script>
  <!--
  <script type="text/javascript" src="libs/underscore-min.js"></script>
  <script type="text/javascript" src="libs/json2.js"></script>
  <script type="text/javascript" src="libs/backbone-min.js"></script>
  <script type="text/javascript" src="libs/backbone-localstorage.js"></script>
  <script type="text/javascript" src="exercise.js"></script>
  -->
  <script type="text/javascript" src="/script.js"></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%= yield %>
</body>
</html>
