<header>
  <a href="/woa/<%= @woa.id %>" class="back">Back</a>
  <h1>Recent workouts</h1>
</header>

<h1>Work out : <%= @woa.date %></h1>
<ul>
  <li>Name: <%= @exercise.name %></li>
  <li>Set: <%= @exercise.set %></li>
  <li>Rep: <%= @exercise.rep %></li>
  <li>Weight: <%= @exercise.weight %></li>
</ul>
