<header>
  <h1>Work out</h1>
</header>


<ul class="menu">
  <li class="menu-item">
    <a href="/add_woa" class="menu-item-link">Add occasion</a>
    <a href="/woas" class="menu-item-link">Latest workouts</a>
    <a href="/stats/" class="menu-item-link">Statistics</a>
  </li>
</ul>

